body {
	font-family: 'Comic Neue';
	margin: auto;
    width: 90%;
}

h1, h2 {
    padding: 10px;
}
header {
    background-color: #8c8c8c;
    color: white;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 20px;
}

.menu ul {
    list-style-type: none;
    margin: 5px 10px 0px 0px;
	overflow: hidden;
}

nav {
    float: right;
    text-align: center;
}
			
.menu li {
	display: inline-block;
	padding: 10px;
}
			
.menu a {
	text-decoration: none;
}
			
a li:hover {
	color: lavender;
}

a li:active {
	color: purple; 
}

ul {
  text-transform: uppercase;
  display: flex;
  padding: inherit;
  margin: 25px;    
}

hr {
    margin: 0px;
}
/*Showcase section*/

#showcase {
    background-image: url("../images/showcase.jpg");
    padding: 20px;
}


/*Subscribe Bar*/

#subscribeBar {
    background-color: #8c8c8c;
    color: white;
    padding: 0px 50px 0px 50px;
}

.myForm input[type="email"] {
	padding: 5px;
	width: 250px;
}

.btn1, btn2 {
	background-color: tomato;
	padding: 5px;
	color: white;
	font-weight: bold;
    margin-top: 10px;
}

/* Boxes Section */

#boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: inherit;
    margin-top: 20px;
}

#boximg {
    max-height: 225px;
    display: center;
}

#flex1 {
    flex; 1;
    order: 1;
    padding:20px;
}
#flex2 {
    flex; 1;
    order: 2;
    padding:20px;
    margin-right: 20px;
    margin-left: 20px;
}
#flex3 {
    flex; 1;
    order: 3;
    padding:20px;
}

.aboutUs {
    width: 70%;
    padding: 20px;
    margin-left: 10%;
}

.whatWeDo {
    width: 30%;
    padding: 20px;
    background-color: #8c8c8c;
    color: white;
    margin-right: 10%;
}

/* Services page flex */

.services {
    display: flex;
    flex-direction: column;
}

#flex4 {
    width: 80%;
    border: 2px solid #b3b3b3;
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
    margin: 10px;
}

footer {
    background-color: tomato;
    color: white;
    padding: 15px;
}

/* Media query */

 
@media (max-width: 700px)
    {
        #boxes {
        display: flex;
        flex-direction: column;  
        }
    }
    

